.row
  a.waves-effect.waves-light.btn.red(ng-click='signOut()' ng-disabled='!user.signedIn')
    | Sign out

  a.waves-effect.waves-light.btn.red(ui-sref="layout_app.dashboard" aria-label="Log in")
    | Go to Dashboard
  a.waves-effect.waves-light.btn.red(ng-click="modalTest($event)")
    | Password change modal

div.row
  form.col.s8(name="loginForm"
    ng-submit="submitLogin(credentials)"
    novalidate)
    .row
      .input-field.col.s6
        input(ng-model="credentials.email" type="email" required  ng-minlength="8")
        label Email
      .input-field.col.s6
        input(ng-model="credentials.password" type="password" required)
        label Password
    .row
      .input-field.col.s12
        button.waves-effect.waves-light.btn(type="submit"
          ng-class="{disabled: loginForm.$invalid}")
          | Log In

div.row
  form.col.s8(name="signupForm"
    ng-submit="submitRegistration(signup)"
    novalidate)

    .row
      .input-field.col.s4
        input(ng-model="signup.email" type="email" required)
        label Email
      .input-field.col.s4
        input(ng-model="signup.password" type="password" required)
        label Password
      .input-field.col.s4
        input(ng-model="signup.password_confirmation" type="password" required)
        label Confirmation
    .row
      .input-field.col.s6
        button.waves-effect.waves-light.btn(type="submit"
          ng-class="{disabled: signupForm.$invalid}")
          | Sign up

div.row
  form.col.s8(name="resetPassForm"
    ng-submit="requestPasswordReset(reset)"
    novalidate)

    .row
      .input-field.col.s6
        input(ng-model="reset.email" type="email" required)
        label Email
    .row
      .input-field.col.s6
        button.waves-effect.waves-light.btn(type="submit"
          ng-class="{disabled: resetPassForm.$invalid}")
          | Request password reset

pre User: {{ user | json }}