h3 Login!

pre User: {{ user | json }}

md-button(ng-click='signOut()' ng-disabled='!user.signedIn')
  | Sign out

md-content(layout="row")
  md-button.contact(ui-sref="layout_app.dashboard" aria-label="Log in")
    md-tooltip Dashboard
    | Go to Dashboard

  md-button(ng-click="modalTest($event)")
    | Password change modal

form(layout="row"
  name="loginForm"
  ng-submit="submitLogin(credentials)"
  novalidate)

  md-content(layout-padding)
    div(layout="row")
      md-input-container
        label Email
        input(ng-model="credentials.email" required)

      md-input-container
        label Password
        input(ng-model="credentials.password" type="password" required)

    md-button.submit-btn.md-raised.md-primary(ng-disabled="loginForm.$invalid")
      | Log In

form(layout="row"
  name="signupForm"
  ng-submit="submitRegistration(signup)"
  novalidate)

  md-content(layout-padding)
    div(layout="row")
      md-input-container
        label Email
        input(ng-model="signup.email" required)

      md-input-container
        label Password
        input(ng-model="signup.password" type="password" required)

      md-input-container
        label Password Confirmation
        input(ng-model="signup.password_confirmation" type="password" required)

    md-button.submit-btn.md-raised.md-primary(ng-disabled="signupForm.$invalid")
      | Sign up

form(layout="row"
  name="resetPassForm"
  ng-submit="requestPasswordReset(reset)"
  novalidate)

  md-content(layout-padding)
    div(layout="row")
      md-input-container
        label Email
        input(ng-model="reset.email" required)

    md-button.submit-btn.md-raised.md-primary(ng-disabled="resetPassForm.$invalid")
      | Request password reset