section
  h4.grey-text.text-darken-1 Play

  p.grey-text Go faster with keyboard shortcuts: Press '?' for keymap.

.divider(ng-style="{'margin-bottom': '40px'}")

section
  h5.grey-text.text-lighten-2 Which do you value more:
  .row
    .col.s6
      .card.amber.lighten-5
        .card-content
          h4 {{ left.name }}
          h6 {{ left.description }}
        .card-action.amber.lighten-4.show-clickable.right-align(ng-click="score(left,right)"
          ng-class="{'lighten-3': hoverLeft}"
          ng-mouseenter="hoverLeft = true"
          ng-mouseleave="hoverLeft = false")
          a.blue-text
            | Select&nbsp;
            i.fa.fa-check

    .col.s6
      .card.amber.lighten-5
        .card-content
          h4 {{ right.name }}
          h6 {{ right.description }}
        .card-action.amber.lighten-4.show-clickable.right-align(ng-click="score(right,left)"
          ng-class="{'lighten-3': hoverRight}"
          ng-mouseenter="hoverRight = true"
          ng-mouseleave="hoverRight = false")
          a.blue-text
            | Select&nbsp;
            i.fa.fa-check


.divider
section.grey-text
  p Too close to call?&nbsp;&nbsp;&nbsp;
    a.waves-effect.waves-teal.btn-flat.grey.lighten-3(ng-click="skipMatch()")
      | Skip both